@import 'src/styles/settings';

a {
  text-decoration: none;
  color: #364f6b;
  &:hover {
    color: #fc5185;
  }
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.form-control {
  border-radius: 0;

  &:focus {
    border: 2px solid #2f89fc;
    box-shadow: none;
  }
}

.btn {
  border: none;
  border-radius: 2px;
}

.btn-primary {
  background-color: #2f89fc;
  &:hover {
    background-color: #fc5185!important;
  }
}

.ovale {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -225px;
  z-index: -10;
  border-radius: 100% / 500px;
  background: #2f89fc;
}

/*
  Spinner
*/

.background-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.spinner {
  margin: 15% auto;
  text-align: center;
}
